/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Add styles to the body and background image */
body {
    background-image: url('https://plus.unsplash.com/premium_photo-1681400542769-bc899128bbff?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style the landing page content */
.landing-page {
    background-color: rgba(0, 0, 0, 0.6); /* Add a semi-transparent overlay */
    padding: 20px;
    border-radius: 10px;
}

/* Style the headings and paragraphs */
h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Style the button */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: #0056b3;
}
